@font-face {
    font-family: 'Julius Sans One', sans-serif;
    src: url(JuliusSansOne-Regular.ttf);
}

body {
	padding-top: 0%;
	background-image: url("");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}

footer {
	background-color: ;
	text-align: ;
}

div {
	padding: ;
	border-radius: ;
}

td {
	text-align: center;
	vertical-align: top;
	padding-top: 1%;
	font-size: 80%;
	width: 25%;
}

img {
	width: 250px;
	height: 250px;

}

table {
	width: 100%;
	padding-left: 4%;
	padding-right: 4%;
	table-layout: fixed;
}
